@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('images/relaxing.png');
  background-size: cover;
  background-position: center;
}

button[type="submit"] {
  background-color: black;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(212, 106, 106);
}
button[type='Delete'] {
  background-color: black;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  color: rgb(212, 106, 106);
}

button[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(32, 32, 37, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgb(17, 16, 21);
  
}
button[type="Delete"]:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgb(17, 16, 21);
}

ul li {
  padding: .5rem 0;
  border-bottom: 1px solid #ccc;
  animation: fade-in 0.5s ease-out;
  justify-content: space-between;
  /* font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1{
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Tilt Warp', cursive; */
  font-family: 'Secular One', sans-serif;
  
}

form{
  font-family: 'Josefin Sans', sans-serif;
}
